################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/src/Power.Mvc.Core/.vs/Power.Mvc.Core
/src/Power.Mvc.Core/Power.Mvc.Helper/bin/Debug/netcoreapp2.0
/src/Power.Mvc.Core/Power.Mvc.Helper/obj
