################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/src/Power.Mvc.Core/.vs/Power.Mvc.Core
